.wellsContainer {
    width:350px;   
    float:right;
}

.input {
    width: 270px;
}


.btn {
    margin-left: 5px;
}

h4 > small {
    margin-right:5px;
}

h3 {
    font-size:20px;             
}

.searchIcon {
    position: relative;
    left: 5px;
    top: 25%;
    float: right;
}

.searchInput {
    width: 95%;
}